DJANGO_ENVIRONMENT=development
DJANGO_SECRET_KEY=change-me-before-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_TRUST_X_FORWARDED_PROTO=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False

DB_NAME=cd-wiki
DB_USER=wiki
DB_PASSWORD=change-me
DB_HOST=127.0.0.1
DB_PORT=3306
DB_CONN_MAX_AGE=60

MEILISEARCH_URL=http://127.0.0.1:7700
MEILISEARCH_MASTER_KEY=change-me
WIKI_SEARCH_INDEX_NAME=wiki_topics
WIKI_SEARCH_RESULT_LIMIT=20
WIKI_SEARCH_BACKEND_LIMIT=100
WIKI_SEARCH_ATTACHMENT_TEXT_LIMIT=200000
WIKI_TOPIC_MAX_JSON_SIZE=2000000
WIKI_TOPIC_MAX_NODES=10000
WIKI_TOPIC_MAX_DEPTH=64
WIKI_TOPIC_MAX_TEXT_LENGTH=1000000

WIKI_STORAGE_ROOT=storage
WIKI_MAX_ATTACHMENT_SIZE=26214400
WIKI_MAX_ARCHIVE_MEMBERS=2000
WIKI_MAX_ARCHIVE_UNCOMPRESSED_SIZE=104857600
WIKI_MAX_PDF_PAGES=500
WIKI_MAX_SPREADSHEET_CELLS=200000
WIKI_REGISTRATION_MODE=disabled
WIKI_REGISTRATION_MIN_SECONDS=3
WIKI_EMAIL_CONFIRMATION_HOURS=48
WIKI_LOGIN_RATE_LIMIT=5
WIKI_LOGIN_RATE_WINDOW_SECONDS=900
WIKI_LOGIN_RATE_BLOCK_SECONDS=900
WIKI_REGISTRATION_RATE_LIMIT=3
WIKI_REGISTRATION_RATE_WINDOW_SECONDS=3600
WIKI_REGISTRATION_RATE_BLOCK_SECONDS=3600
WIKI_RATE_LIMIT_RETENTION_HOURS=168
WIKI_TRUSTED_PROXY_IPS=127.0.0.1,::1

DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
